# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env
application.json
bookmarks.api
development.http
.vscode/settings.json
application.Debug.json
_db/bookmarks.Debug.db
bookmarks-go
