<div class="navmenu">
    <div class="navcontent">
        <!-- LOGO -->
        <div class="navlogo">
            <mat-progress-spinner
                *ngIf="showProgress"
                mode="indeterminate"
                class="progress"
                color="accent"
                [strokeWidth]="7"
                [diameter]="40">
            </mat-progress-spinner>

            <span class="header__icon" (click)="toggleMenu(true)">
                <svg class="" width="24px" height="24px" viewBox="0 0 48 48" fill="#ffffff">
                <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
                </svg>
            </span>
        </div>

        <!-- INFO -->
        <div class="navinfo">
          <i class="fa fa-bookmark bookmark-logo" aria-hidden="true"></i>&nbsp;bookmarks
        </div>

        <!-- ACTIONS -->
        <div class="navactions d-none d-sm-inline">
           <!-- USER -->
           <span *ngIf="appInfo" title="{{ appInfo?.userInfo?.displayName }}" class="hidden-xs">
              <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;<a class="link" href="https://bookmarks.binggl.net" matTooltip="{{ appInfo?.userInfo?.userName }} ({{ appInfo?.userInfo?.email }})">{{ appInfo?.userInfo?.displayName }}</a>
             </span>
        </div>
    </div>
</div>

<div class="menu"
  [ngClass]="{'menu--show': menuVisible }"
  [style.transform]="menuTransform()">
  <div class="menu__header">
    <div class="user_info">
      <i class="fa fa-sign-out" aria-hidden="true"></i> <a class="link" href="/logout" matTooltip="{{ appInfo?.userInfo?.email }}">Logout: {{ appInfo?.userInfo?.displayName }}</a>
    </div>
  </div>
  <ul class="menu__list">
    <li><i class="fa fa-home" aria-hidden="true"></i> <a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><i class="fa fa-clock-o" aria-hidden="true"></i> <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
  </ul>

  <div class="menu_bottom">
    <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} Henrik.Binggl
    <br/><strong>bookmarks application</strong>
    <br/><span class="fa fa-code-fork"></span>&nbsp;<span style="color:indigo">{{ appInfo?.versionInfo?.version | ellipsis:25}}</span>
    <br/>ui: <span style="color:darkviolet">{{ appInfo?.uiRuntime }}</span>
    <br/><span class="fa fa-code"></span>&nbsp;<a href="/swagger/index.html">API documentation</a>

  </div>
</div>

<div class="menu__overlay"
  (click)="toggleMenu(false)"
  [ngClass]="{'menu__overlay--show': menuVisible }"

></div>
